/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */
html, body {height: 100%;width: 100%}

#wrap {min-height: 100%; width: 100%}

#main {overflow:auto;
	padding-bottom: 28px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -28px; /* negative value of footer height */
	height: 28px;
	clear:both;} 

/*Opera Fix*/
body:before {
	content:"";
	height:100%;
	float:left;
	width:0;
	margin-top:-32767px;/
}
@-ms-viewport{width: device-width;}

/* #Nav
================================================== */
/* styles for desktop */
.tinynav { display: none }

/* styles for mobile */
#nav {
	font-size: 18px;
	margin: 0 auto 2px;
	padding: 6px 0 0 0;
	list-style: none;
	float: left;
	width: 100%;
	text-align: left;
	background: #393939;
 }

#nav li {display: block; float: left; margin-right: 2px;}

#nav a, #nav a:hover {
	padding: 0 10px;
	line-height: 25px;
	margin-bottom:0;
	display: block;
	float: left;
	text-decoration: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 0;
	color: #C8C8C8;
}

#nav a:hover {color: #fff; background: rgba(0,0,0,.2);}

#nav .selected a, #nav .selected a:hover {
	background: #4d4d4d;
	background: rgba(255,255,255,.15);
	color: #fff;
	font-weight: bold;
  }

.tinynav {width:95%; margin-bottom:1px}

#showME, #showME2 {display: none;}

@media screen and (max-width: 800px) {
	.tinynav { display: block }
	#nav { display: none }
	#hideME {display: none}
	#showME {display: inline-block}
}

.navMainControl {height:100%; background:#393939; margin-bottom:0px; padding-bottom:0; -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.8);  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.8);  box-shadow: 0 1px 2px rgba(0,0,0,.8)}

.pageTitle {margin-top:0; padidng-top:0}
	.pageTitle_divider {width:100%; height:2px; background:#817F81; margin-bottom:10px}
	
.Sectiondivider {width:100%; height:2px; background:#817F81; margin-bottom:10px}	
.Sectiondivider2 {width:100%; border: solid #ddd; border-width: 1px 0 0; margin-top:0; margin-bottom: 10px}	

.right_divider {border-right:1px solid #e8e8e8; padding-right:10px}

.footContainer {height:100%; background:#393939}

.protItems {text-align:center; background:#EFEFEF; border-radius:5px; padding-top:15px}

/* #Page Styles
================================================== */
a.port_image {text-decoration:none;}
	.port_image img {border:1px solid #ddd;}

/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
		#hideME2 {display: none}
		#showME2 {display: inline-block}
	}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}

/* #Print
================================================== */
@media print {

}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/